services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8070:8070"
    depends_on:
      - chromadb
    environment:
      - CHROMADB_HOST=chromadb
      - CHROMADB_PORT=8000

  chromadb:
    image: chromadb/chromadb:latest
    container_name: chromadb
    ports:
      - "8000:8000"
    environment:
      CHROMADB_SETTINGS: '{"allow_reset": true}'